@charset "UTF-8";


.container-cart{
  @include flexbox();
  @include flex-direction(column);
  height: 100%;
  width: 100%;
  span.check-cart{
    width: 18px;
    height: 18px;
    background:url(/build/images/cart_icon.png) no-repeat;
    background-size:730% 730%;
    display: inline-block;
    vertical-align: bottom;
  }
  .scroll-cart{
    @include flex(1);
    width: 100%;
    overflow: hidden;
    .main-cart{
      @include flexbox();
      @include flex-direction(column);
      width: 100%;
      background: #F1F1F1;
      header{
        height: .4rem;
        width: 100%;
        background: blue;
        position: relative;
        background: #fc395b;
        text-align: center;
        a{
          width: .1rem;
          height: .16rem;
          position:absolute;
          left:.15rem;
          top:.12rem;
          background: url(/build/images/turn.jpg) no-repeat;
          background-size: 100%;
        }
        span{
          font-size:.18rem;
          color:#fff;
          line-height:.4rem;
          font-weight: bolder;
        }
      }
      section.menu-cart{
        width: 100%;
        height: .5rem;
        background: #fff;
        ul{
          @include flexbox();
          @include justify-content(space-between) ;
          @include align-items(center);
          height: 100%;
          width: 100%;
          font-size: .12rem;
          padding:0 4.37%;
          li:nth-child(1){
            line-height:.2rem;
            color:#666;
          }
          li:nth-child(2){
            background: #fc395b;
            color:#fff;
            font-weight: bold;
            height: .24rem;
            width: .60rem;
            line-height: .24rem;
            text-align: center;
            @include border-radius(.03rem);
          }
        }
      }
      section.list-cart{
        padding-top:10px;
        ul{
          @include flexbox();
          @include flex-direction(column);;
          width: 100%;
          height: 100%;
          li{
            width: 100%;
            padding-bottom:.05rem;
            section{
              @include flexbox();
              background: #fff;
              width: 100%;
              height: 100%;
              align-items: center;
              padding:0.15rem 0;
              span{
                margin-left: 4.37%;
              }
              a{
                margin-left: 2%;
                width: 15.625%;
                img{
                  width:100%;
                }
              }
              div.cart-right{
                margin-left:3%;
                width:67%;
                h2{
                  width: 90%;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  color: #333;
                  font-weight: normal;
                  font-size: 0.12rem;
                }
                div.cart-right-bt{
                  i{
                    color:#999;
                    font-size:.10rem;
                    em{
                      color:#fc395b;
                      gont-weight:bold;
                      font-size:.16rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  footer{
    @include flexbox();
    @include justify-content(space-between);
    @include border(.01rem 0 0 0,#F1F1F1,solid);
    //只能实现一像素线
    height: .44rem;
    width: 100%;
    background: #fff;
    span{
      font-size:.14rem;
      margin-left:4.37%;
      align-self: center;
      i{
        font-size:.16rem;
        color:#fc395b;
      }
    }
  }
}
