@charset "UTF-8";
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
.content-index {
  width: 100%;
  background: #f1f1f1;
  .swiper-container {
    background: #fff;
    width: 100%;
    .swiper-wrapper {
      width: 100%;
      .swiper-slide {
        width: 100%;
        padding-top: .05rem;
        a {
          display: block;
          width: 100%;
          img {
            width: 100%;
          }
        }
      }
    }
    .swiper-pagination-bullet-active {
      background: #fc395b !important;
    }
    .swiper-pagination-bullet {
      border: solid #fc395b 1px;
      /*@include border(1px #fc395b solid 100%);*/
      background: transparent;
      opacity: 1;
    }
  }
}

.nav-index {
  background: #fff;
  padding: .2rem .15rem;
  @include flexbox();
  a {
    display: block;
    width: 25%;
    padding-top: .1rem;
    text-align: center;
    color: #888;
    img {
      display: block;
      width: 50%;
      margin: 0 auto;
    }
    span {
      display: block;
      padding-top: .05rem;
    }
  }
}

.rec-index {
  width: 100%;
  margin-top: .1rem;
  padding-bottom: .15rem;
  background: #fff;
  .rec-indexBox {
    .recTil {
      background: url(/build/images/recommend@2x.png) no-repeat center;
      width: 100%;
      background-size: contain;
      height: .35rem;
      line-height: .35rem;
      text-align: center;
      color: #fc395b;
      font-size: .14rem;
    }
    #rec1-index {
      width: 100%;
      ul {
        width: 100%;
        padding: 0 4.37%;
        @include flexbox();
        @include justify-content(space-between);
        li {
          width: 48.9655%;
          a {
            display: block;
            width: 100%;
          }
          img {
            width: 100%;
          }
          &:nth-of-type(2) {
            a:nth-of-type(2) {
              margin-top: .04rem;
            }
          }
        }
      }
    }
  }
}

.tilIndex {
  width: 100%;
  padding-bottom: 10px;
}

.new-index {
  width: 100%;
  margin-top: .1rem;
  padding-bottom: .15rem;
  background: #fff;
  .new-indexBox {
    .ti1 {
      border-top: 2px solid #02aefe;
      span {
        background: url(/build/images/new@2x.png) no-repeat;
        background-size: 100% 100%;
        display: block;
        width: .9rem;
        color: #fff;
        padding-left: 4.37%;
        line-height: .2rem;
      }
    }
    #new1-index {
      width: 100%;
      ul {
        @include flexbox();
        width: 100%;
        li {
          width: 33.33%;
          a {
            display: block;
            width: 100%;
            img {
              width: 100%;
            }
          }
        }
      }

    }
  }
}

.hot-index {
  width: 100%;
  margin-top: .1rem;
  padding-bottom: .15rem;
  background: #fff;
  .hot-indexBox {
    width: 100%;
    .ti2 {
      border-top: 2px solid #46c364;
      span {
        background: url(/build/images/hot@2x.png) no-repeat;
        background-size: 100% 100%;
        display: block;
        width: .9rem;
        color: #fff;
        padding-left: 4.37%;
        line-height: .2rem;
      }
    }
    #hot1-index {
      width: 100%;
      ul {
        width: 100%;
        padding: 0 4.37%;
        @include flexbox();
        @include justify-content(space-between);
        li {
          width: 48.9655%;
          a {
            display: block;
            width: 100%;
          }
          img {
            width: 100%;
          }
          &:nth-of-type(2) {
            a:nth-of-type(2) {
              margin-top: .04rem;
            }
          }
        }
      }
    }
  }
}

.coun-index {
  width: 100%;
  margin-top: .1rem;
  padding-bottom: .15rem;
  background: #fff;
  .coun-indexBox {
    width: 100%;
    .ti3 {
      border-top: 2px solid #7c4dff;
      span {
        background: url(/build/images/country@2x.png) no-repeat;
        background-size: 100% 100%;
        display: block;
        width: .9rem;
        color: #fff;
        padding-left: 4.37%;
        line-height: .2rem;
      }
    }
    #coun1-index {
      width: 100%;
      ul {
        @include flexbox();
        width: 100%;
        padding: 0 .11rem;
        li {
          width: 25%;
          a {
            font-size: 12px;
            color: #7c4dff;
            display: block;
            width: 100%;
            text-align: center;
            img {
              width: 64.85%;
              margin: 0 auto 6px;
              border-radius: 50%;
              box-shadow: 0 0 10px #e9e9e9;
            }
          }
        }
      }

    }
  }
}

.hotSe-index {
  width: 100%;
  margin-top: .1rem;
  padding-bottom: .15rem;
  background: #fff;
  .hotSe-indexBox {
    width: 100%;
    .ti4 {
      border-top: 2px solid #fc395b;
      span {
        background: url(/build/images/seach@2x.png) no-repeat;
        background-size: 100% 100%;
        display: block;
        width: .9rem;
        color: #fff;
        padding-left: 4.37%;
        line-height: .2rem;
      }
    }
    #hotSe1-index {
      width: 100%;
      ul {
        @include flexbox();
        @include flex-wrap(wrap);
        width: 100%;
        padding: 0 4.37%;
        height: auto;
        li {
          @include flexbox();
          margin-right: 4%;
          margin-bottom: .15rem;
          height: .22rem;
          a{
            display: inline-block;
            color: #fff;
            background: #fc395b;
            height: .22rem;
            line-height: .22rem;
            padding: 0 6px;
            border-right: 1px solid #fd617c;
          }
          span {
            display: inline-block;
            background: url(/build/images/ind_all_search1.jpg) no-repeat;
            background-size: 100% 100%;
            width: .07rem;
            height: .22rem;
          }
        }
      }
      div {
        padding: 0 4.37% .15rem;
        img {
          width: 100%;
        }
      }
    }

  }
}

.foot-index {
  background: #4c4c4c;
  padding: .14rem 0;
  ul {
    @include flexbox();
    li {
      text-align: center;
      width: 25%;
      i{
        background: url(/build/images/bott_icon.png) no-repeat;
        background-size: 380% 100%;
        width: .4rem;
        height: .4rem;
        display: block;
        margin: 0 auto;
      }
      i.f-icon1 {
        background-position: .06rem 0;
      }
      i.f-icon2 {
        background-position: -.34rem .05rem;
      }
      i.f-icon3 {
        background-position: -.73rem .03rem;
      }
      i.f-icon4 {
        background-position: -1.11rem 0;
      }
      i.f-icon4+p {
        padding-top: 10px;
      }
      p {
        color: #ffffff;
        font-size: .09rem;
        line-height: .2rem;
      }
    }
  }
  .commit-index {
    padding-top: .14rem;
    p {
      color: #fff;
      font-size: .11rem;
      text-align: center;
      line-height: .22rem;

    }
    .pRed-index {
      color: #fc395b;
      font-size: .09rem;
    }
    /*p:nth-of-type(3) {
      color: #fc395b;
      font-size: .09rem;
    }*/
  }
}
