<<<<<<< HEAD
#foot-index{
  width: 100%;
  height: .5rem;
  @include flexbox();

}
=======
.goBack-index {
  position: fixed;
  bottom: .6rem;
  right: .1rem;
  background: url(/build/images/top.png) no-repeat;
  background-size: 100% 100%;
  width: .36rem;
  height: .36rem;
}
>>>>>>> b527d6acb0b1302f8d6ab46ea75bd6c7c431f299
